@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: var(--font-geist-sans);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 1rem;
  z-index: 1000;
}

.app-wrapper {
  margin-top: 60px; /* Height of header */
}

.sidebar {
  position: fixed;
  top: 60px; /* Height of header */
  left: 0;
  width: 200px;
  height: calc(100vh - 60px);
  background-color: #d1d1d1;
  padding: 1rem;
}

.content {
  margin-left: 220px; /* Width of sidebar + some margin */
  padding: 1rem;
}