@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: var(--font-geist-sans);
  overflow-y: scroll;
}
html {
  scrollbar-gutter: stable;
}

/* .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 1000;
} */

.app-wrapper {
  margin-top: 40px; /* Starting the content */
}

.sidebar {
  position: fixed;
  top: 100px; /* Height of header */
  left: 0;
  width: 230px;
  padding: 2rem 0 1rem 1rem;
}

.content {
  margin-left: 250px; /* Width of sidebar + some margin */
  padding: 1rem;
}
